body{
	margin: 0;
	padding: 0;
	background-color: #ade39f;
}

.header{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-family: 'Plaster';
	color: black;
	background-image: url(nature.jpg);
	background-repeat: none;
	align-items: center;
}

.header > h1{
	font-family: 'Anton', sans-serif;
	color : white;
}

.navbar{
  display: solid;
  position: relative;
	text-align: center;
	background-color: #6c996c;
	width: 100%;
	margin: auto;
  padding: 1%;
  
}

.navbar > a{
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
	text-decoration: none;
	font-family: 'Anton', cursive;
	background-color: #6c996c;
	border: none;
  cursor: pointer;
  color: black;
}

.navbar a:hover {
	text-shadow: 3px 3px gray;
  padding-left: 20px;
  padding-right: 35px;
  padding-left: 35px;
	transform: scale(1.2);
	background-color: #c3c5c9;
	transition:0.7s;
}
#content {
	width: 65%;
	padding: 30px;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	min-height: 100vh; 
	margin: 0 auto;
	background-color: #d9dbe0;

}

@media only screen and (max-width: 414px) {
  .navbar a {
    padding: 10px;
  }

  .slideshow-container {
    width: 95%;
  }
}


* {box-sizing:border-box}


.slideshow-container {
  max-width: 900px;
  
  position: relative;
  margin: auto;
  margin-top: 5%;
}

.mySlides {
  display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
#info{
  text-align: center;
  font-family: 'Anton', cursive;
}

.pershkrimi{
	text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 400%;
  padding: 0;
  line-height: 200px; 
  
}
.cb-slideshow li:nth-child(1) span { 
  background-image: url(../KosovoBeauties-Multimedia/images/1.jpg) 
  
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url(../KosovoBeauties-Multimedia/images/2.jpg);
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url(../KosovoBeauties-Multimedia/images/3.jpg);
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
  background-image: url(../KosovoBeauties-Multimedia/images/4.jpg);
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
  background-image: url(../KosovoBeauties-Multimedia/images/5.jpg);
  animation-delay: 24s; 
  
}

.cb-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
  .cb-slideshow li div h3 { font-size: 80px }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1);
	}
	25% {
	    opacity: 1;
	    transform: scale(1);
	}
	100% { opacity: 1 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}

<<<<<<< HEAD
li{
  list-style-type: none;
}
=======






body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    display: solid;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

























>>>>>>> f2e3ecb0176e0df9d63151a898ff56deb79ff5b9
